<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="stentorTestSuite">
  <suite-files>
    <suite-file path="suites/modelTestSuite.xml" />
    <suite-file path="suites/apiTestSuite.xml" />
    <suite-file path="suites/authTestSuite.xml" />
  </suite-files>
</suite>